<div class="container">

	<div class="jumbotron text-center">
		<h1>News Scraper</h1>
		<div class="form-group">
			<form action="/refresh" method="GET">
				<button class="btn btn-primary">Refresh</button>
			</form>
		</div>
	</div>

	{{#each articles}}
	<div class="row text-center">

		<p class="title"><strong><a target="_blank" href="{{this.link}}">{{this.title}}</a></strong></p>

		<p class="summary">{{this.summary}}</p>

		{{#each this.comments}}
		<div class="comment">
			<p class="commentBody text-left">{{this.body}}</p>
			<p class="author">by {{this.author}} at <span class="dateString">{{this.createdAt}}</span></p>
		</div>
		{{/each}}

		<div class="form-group">
			<form action="/addComment/{{this._id}}" method="POST">

				<label for="author" class="pull-left">Author</label>
				<input type="text" class="form-control" name="author">

				<label for="body" class="pull-left">Comment</label>
				<input type="text" class="form-control" name="body">
				<button class="btn btn-primary addComment">Add Comment</button>
			</form>
		</div>
	</div>
	{{/each}}
</div>

<script>

</script>